# Python cache and environment files
*.py[cod]
__pycache__/
*.so

# Virtual environment
venv/
env/

# Django settings and secrets
*.env
db.sqlite3
secrets.json

# Static files
/static/
/media/

# Django migrations
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.sql
*.sqlite3
*.sqlite3-journal
*.swp

# IDE configuration files
.vscode/
.idea/

# OS-specific files
.DS_Store
.db_sqlite3
.settings.py

# Test coverage and reports
.coverage
coverage/
.tox/
nosetests.xml
*.cover
.cache
.pytest_cache/
pytestdebug.log

# Build and distribution directories
*.egg-info/
dist/
build/

# Node.js dependencies (React)
/node_modules
/.pnp
.pnp.js

# Testing
/coverage

# Production
/build

# Misc
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
