{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'images/quizzes.jpg' %}">
    <link rel="stylesheet" href="{% static 'reg.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap">
    <title>Password Reset Sent</title>
    <style>
         body { 
            font-family: Poppins, sans-serif;
            text-align: center; 
            margin: 50px; 
            }
    </style>
</head>
<body class="reset_donepage">
    <h2>Password Reset Link Sent</h2>
    <p>If your email is correct, you will receive a password reset link shortly.</p>
    <a href="{% url 'Coordinator:login' %}">Return to Home</a>
</body>
</html>
