{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{%static 'images/quizzes.jpg'%}">
    <link rel="stylesheet" href="{% static 'action_taken.css' %}">
    <title>Quiz Already Attempted</title>
    <script>
                // Prevent the back button
        history.pushState(null, null, location.href);
        window.onpopstate = function () {
            history.go(1); // Forces the user to stay on the current page
        };

    </script>
</head>
<body class="attempt_oncepage">
    <div class="container">
        <h1>Quiz Already Attempted</h1>
        <p>It looks like you've already attempted this quiz. You can only attempt each quiz once.</p>
        <a href="{% url 'Coordinator:dashboard' %}">Back to Dashboard</a>
    </div>
</body>
</html>
