{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'images/quizzes.jpg' %}" />
    <link rel="stylesheet" href="{% static 'access.css'%}">
    <title>Home - Virtual Learning Collaboration System</title>
</head>
<body class="homepage">
    <nav class="nav">
        <img src="{% static 'images/quizzes.jpg'%}" alt="myDetour Logo">
        <!-- <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="services.html">Services</a></li>
            <li><a href="homepage.html">About Us</a></li>
            <li><a href="homepage.html">Contact</a></li>
            <li><a href="userprofile.html" class="login-button">Profile</a></li>
        </ul> -->
    </nav>
    <div class="header">
        <h1>Welcome to myDetour.</h1>
        <p>Your Hub for Collaborative Learning Awaits!</p>
        <div class="hero-buttons">
            <a href="{% url 'Coordinator:signup' %}">Get Started</a>
            <a href="{% url 'Coordinator:login' %}">Sign In</a>
        </div>
    </div>
    <div class="features">
        <div class="feature">
            <img src="{% static 'images/discussions.jpg' %}" alt="Discussions">
            <h3>Collaborative Discussions</h3>
            <p>Engage in educative conversations with peers.</p>
        </div>
        <div class="feature">
            <img src="{% static 'images/quizzes.jpg' %}" alt="Quizzes">
            <h3>Interactive Quizzes</h3>
            <p>Test your knowledge and track your progress.</p>
        </div>
        <div class="feature">
            <img src="{% static 'images/groups.webp' %}" alt="Study Groups">
            <h3>Study Groups</h3>
            <p>Connect with like-minded learners globally.</p>
        </div>
    </div>
    <div class="footer">
        <p>&copy; 2025 Virtual Learning Collaboration System. All rights reserved.</p>
    </div>
</body>
</html>
