{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'images/quizzes.jpg' %}" />
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'access.css' %}">
    <style>
        body{
            background-image: url({% static '/images/login.webp' %});
        }
    </style>
</head>
<body class="loginpage">
    <div class="container">
        <h1>Welcome Back!</h1>
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="username">Username or Email</label>
                <input type="text" id="username" name="username" placeholder="Enter your username or email" required autofocus>
                {% if form.username.errors %}
                    <div class="error-message">{{ form.username.errors.0 }}</div>
                {% endif %}
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" placeholder="Enter your password" required>
                {% if form.password.errors %}
                    <div class="error-message">{{ form.password.errors.0 }}</div>
                {% endif %}
            </div>
            <button type="submit">Login</button>
        </form>
        <div class="footer">
            <p>New to VLCS? <a href="{% url 'Coordinator:signup' %}">Sign up here</a></p>
            <p>Forgot Password? <a href="{% url 'password_reset' %}">Reset Password</a></p>
        </div>
    </div>
</body>
</html>
