{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'images/quizzes.jpg' %}">
    <link rel="stylesheet" href="{% static 'action_created.css' %}">
    <title>{{ quiz.title }}</title>
    <script>
        history.pushState(null, null, location.href);
        window.onpopstate = function () {
            history.go(1); 
            /* // Forces the user to stay on the current page */
        };

    </script>
</head>
<body class="quiz_detailpage">
    <div class="container">
        <h1>{{ quiz.title }}</h1>
        <p>{{ quiz.description }}</p>

        <h2>Questions</h2>
        {% for question in quiz.questions.all %}
            <div>
                <h3>{{ question.text }}</h3>
                <ul>
                    {% for answer in question.answers.all %}
                        <li class="{% if answer.is_correct %}correct{% endif %}">{{ answer.text }}{% if answer.is_correct %} (Correct){% endif %}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endfor %}
        <a href="{% url 'Coordinator:dashboard' %}">Back to the dashboard</a>
    </div>
</body>
</html>
