<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    {% load render_bundle from webpack_loader %}
    <link rel="icon" href="{% static 'favicon.ico' %}" />
    <title>React App</title>
</head>
<body>
    <div id="root"></div> <!-- React Mount Point -->
<script>
    document.addEventListener("DOMContentLoaded", () => {
        console.log('Document is fully loaded');
        console.log('Root element check:', document.getElementById('root'));
    });
    // Prevent the back button
    history.pushState(null, null, location.href);
        window.onpopstate = function () {
            history.go(1); // Forces the user to stay on the current page
        };
</script>
<script src="/static/frontend/main.js"></script>
    {% render_bundle 'main' %}    
</body>
</html>
