{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'images/quizzes.jpg' %}">
    <title>Signup</title>
    <link rel="stylesheet" href="{% static 'css/access.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap">
    <script>
        // Prevent the back button
        history.pushState(null, null, location.href);
        window.onpopstate = function () {
            history.go(1); // Forces the user to stay on the current page
        };
    </script>
    <style>
        body {
            font-family: 'Roboto', sans-serif;
            background: url("{% static 'images/signup.jpg' %}") no-repeat center center fixed;
            background-size: cover;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            color: #343a40;
        }
    </style>
</head>
<body class="signuppage">
    <div class="container">
        <h1>Signup</h1>
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" id="username" name="username" placeholder="Enter your username" required>
                {% if form.username.errors %}
                    <div class="error-message">{{ form.username.errors.0 }}</div>
                {% endif %}
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" id="email" name="email" placeholder="Enter your email" required>
                {% if form.email.errors %}
                    <div class="error-message">{{ form.email.errors.0 }}</div>
                {% endif %}
            </div>
            <div class="form-group">
                <label for="password1">Password</label>
                <input type="password" id="password1" name="password1" placeholder="Create a password" required>
                {% if form.password1.errors %}
                    <div class="error-message">{{ form.password1.errors.0 }}</div>
                {% endif %}
            </div>
            <div class="form-group">
                <label for="password2">Confirm Password</label>
                <input type="password" id="password2" name="password2" placeholder="Re-enter your password" required>
                {% if form.password2.errors %}
                    <div class="error-message">{{ form.password2.errors.0 }}</div>
                {% endif %}
            </div>
            <button type="submit">Signup</button>
        </form>
    </div>
</body>
</html>
