{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'images/quizzes.jpg'%}"> 
    <link rel="stylesheet" href="{% static 'css/action_created.css'%}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
    <title>Upload Document</title>
    <script>
        // Prevent the back button
        window.onload = function () {
            history.pushState(null, null, location.href); 
            window.onpopstate = function () {
                history.go(1); 
            };
        };
    </script>
    <style>
        body {
            font-family: 'Poppins', sans-serif;
            background: url("{% static 'images/discussions.jpg' %}") no-repeat center center fixed;
            background-size: cover;
            margin: 0;
            padding: 0;
            color: #333;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }
    </style>
</head>
<body class="uploadpage">
    <div class="container">
        <h1>Upload Document for Session: {{ session.name }}</h1>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            {% if form.errors %}
                <ul>
                    {% for field, errors in form.errors.items %}
                        {% for error in errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    {% endfor %}
                </ul>
            {% endif %}
            <button type="submit">Upload PDF</button>
        </form>
    </div>
</body>
</html>
